* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #7a0c0c;
    font-family: "InconsolataGo Nerd Font Mono", monospace;
    font-size: 16px;
    color: #ffffff;
    box-shadow: none;
}

button {
    border-radius: 0px;
    border: 1px solid #7a0c0c;
    color: #ffffff;
    background-color: rgba(15, 5, 5, 0.92);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    padding: 12px;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(55, 0, 0, 0.8);
    outline: none;
    border: 1.1px solid #7a0c0c;
}

button > * {
    color: #ffffff;
}

#logout {
    background-image: url("icons/white_logout.png");
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#reboot {
    background-image: url("icons/white_reboot.png");
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#shutdown {
    background-image: url("icons/white_power.png");
}

#sleep {
    background-image: url("icons/white_sleep.png");
}
